Source: ros-melodic-rosbaglive
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-rosbag, ros-melodic-roslint, ros-melodic-rospy
Homepage: http://ros.org/wiki/rosbaglive
Standards-Version: 3.9.2

Package: ros-melodic-rosbaglive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-rosbag, ros-melodic-rospy
Description: Plays rosbags as though they were happening NOW.
